.student-profile-container {
  .profile-wrapper {
    .user-summary {
      display: flex;
      align-items: center;
      .wrapper-holder {
        img {
          width: 100%;
        }
      }
      .wrapper-captions {
        padding: 0 3rem;
        width: 100%;
        h2 {
          font-size: 5rem;
          font-weight: 900;
          margin-bottom: 1rem;
        }
        ul {
          list-style: none;

          li {
            margin-bottom: 0.7rem;

            svg {
              margin-right: 1rem;
              path {
                color: gray;
              }
            }
            span {
              font-size: 1.6rem;
            }
          }
        }

        .course-table-container {
          margin-top: 3rem;
          h3 {
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
